<div class="container">
    <div class="single-product" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxLayout="column"  fxLayoutAlign="space-between center" *ngFor="let product of products">
        <div class="product-1">
        <a routerLink="item-info/{{ product.id }}">
            <img class="product-image" src='{{ product.urlImage }}'>
        </a>
    </div>
        <div class="product-info"><b>{{ product.name }} {{ product.category }}</b></div>
        <div class="product-info">$ {{ product.price}}</div>

        <form (ngSubmit)="onSubmit(product, $event)">
            <select  class="product-info form-select" aria-label="Default select example">
                <option *ngFor="let productOption of productQunt" [ngValue]="productOption" 
                [selected]="productOption === '1'">{{productOption}}</option>
            </select>
            <input type="submit" value="Add to Cart" class="product-info btn btn-primary">
        </form>
    </div>
    </div>
</div>