<meta charset="UTF-8">

<div class="confirmation-container">
    
    <div class="confirmation-items">
        <div class="confirmation-header"><b>Success! {{emoji}}</b></div>
        <div class="confirmation-item">Thank you, <b>{{user.Fullname}}</b></div>
        <div class="confirmation-item">Your <b>${{user.total}}</b> order is confirmed!</div>
        <div class="confirmation-item">Please allow 1-3 business day(s) for shipping</div>
        <button class="confirmation-item btn btn-primary" routerLink="/">Back to product list</button>
    </div>
</div>